.login-background {
    position: relative;
    min-height: 100vh;
    
  }

  .login-background::before{
    
    background-image: url('./groceriesImage.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
  }