.login-background {
    background-image: url('./groceriesImage2.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

loginh2{
    color: white;
    background-color: black;
}